In [1]:
import numpy as np
import math
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_curve, roc_auc_score
next_campaign = False

In [2]:
# FEATURES
#df  <- data frame
#col <- column
#cat <- category


# add column to data frame
def add_col (df, col, cat):
    new_col = col + "_" + str(cat)
    #print("ADD COL: " + new_col)
    if str(cat) != 'nan':
        df[new_col] = df[col].map(lambda a: a == cat,na_action=True).map({True: 1.0,False: 0.0})
    return df


#split column with mamy string categories col[A,B,C...] to many binary columns col_A[0,1] col_B[0,1] ...
def split_col (df, col):
    categories = df[col].unique()
    for cat in categories :
        df = add_col(df, col, cat)
    del df[col]
    return df


#scale column values to <0, 1> interval
def scale_col (df, col):
    
    max_val = float(df[col].max())
    min_val = float(df[col].min())
    print ( col,min_val, max_val  )
    df[col] = df[col].map(lambda a: min_val if pd.isnull(a) else a)
    df[col] = df[col].map(lambda a: abs(float(a) - min_val) / abs(max_val - min_val) )
    print(df[col].unique())
    return df


def add_nan_col (df, col):
    new_col = col + "_nan"
    df[new_col] = df[col].map (lambda a: 1.0 if pd.isnull(a) else 0.0)
    return df


def print_data(df):
    for col in df.columns:
        print (format (col, '20'), format(len(df[col].unique()), '10'), df[col].dtype)
        if len(df[col].unique()) < 20:
            print (df[col].unique())

            
def remove_col (df, columns):
    for col in columns:
        if col in df.columns:
            del df[col]
    return df


def grup_age (age, i):
    if pd.isnull(age):
        return False
    return int(int(age)/10) == i


def add_new_cols (df):
    for i in range(12):
        new_col = "Age_grup_" + str(i)
        df[new_col] = df['Age'].map(lambda age: grup_age (age, i)).map({True: 1.0,False: 0.0})
    return df


def split_cols(df, l):
    for col in l :
        if df[col].isnull().values.any():
            #df = add_nan_col(df, col)
            print("NAN ", col, " : ", df[col].isnull().sum())
        df = split_col(df, col)
    return df


def scale_cols(df, l):
    for col in l :
        if df[col].isnull().values.any():
            #df = add_nan_col(df, col)
            print("NAN ", col, " : ", df[col].isnull().sum())
        df = scale_col(df, col)
    return df
            
    
#preprocessing
def preprocessing (df):
    id = df['PassengerId']
    df = remove_col (df, ["PassengerId","Name", "Ticket", "Cabin"])
    df = df.rename(columns={"Survived": "y"})
    print(df.columns)
    print("NEW COLUMNS")
    df = add_new_cols (df)
    df = split_cols (df,["Pclass", "Sex", "Embarked"])
    df = scale_cols (df,["SibSp", "Parch", "Fare", "Age"])
    return (id, df)

In [3]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
(train_id, train) = preprocessing(train)
(test_id, test) = preprocessing(test)

Index(['y', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'], dtype='object')
NEW COLUMNS
NAN  Embarked  :  2
SibSp 0.0 8.0
[0.125 0.    0.375 0.5   0.25  0.625 1.   ]
Parch 0.0 6.0
[0.         0.16666667 0.33333333 0.83333333 0.5        0.66666667
 1.        ]
Fare 0.0 512.3292
[0.01415106 0.13913574 0.01546857 0.1036443  0.01571255 0.0165095
 0.10122886 0.04113566 0.02173075 0.05869429 0.03259623 0.05182215
 0.06104473 0.01533038 0.03122992 0.05684821 0.02537431 0.03513366
 0.01410226 0.05074862 0.01567195 0.06929139 0.06126432 0.51334181
 0.01537917 0.01541158 0.0541074  0.28598956 0.01512699 0.02049464
 0.16038672 0.10149724 0.01411046 0.02194234 0.01849397 0.04098927
 0.08115719 0.03025399 0.04231498 0.03474329 0.07746484 0.01522459
 0.14976542 0.12097534 0.05416439 0.0915427  0.1561496  0.16293235
 0.05445717 0.02975782 0.01592394 0.01690807 0.14346245 0.02821272
 0.11027246 0.01493181 0.05660423 0.02434958 0.01756683 0.01854277
 0.01520019 0.09193308 0.03093714 0.06709553 0.11940565 0.04015973
 0.06764049 0.12366717 0.04489301 0.15085515 0.01689187 0.01517579
 0.04713766 0.01917712 0.02822072 0.48312843 0.01393967 0.0436405
 0.01361429 0.01376068 0.02830212 0.02936745 0.05130158 0.0179898
 0.1545881  0.01317512 0.02244651 0.07173122 0.01521639 0.02444717
 0.12999454 0.01427305 0.11980422 0.0150944  0.13575256 0.03142511
 0.03074195 0.04006213 0.10735285 0.05060223 0.06538765 0.05991421
 0.04970769 0.05604307 0.         0.02937564 0.07612293 0.04298994
 0.0975935  0.01640391 0.01267896 0.02042144 0.03667076 0.06050797
 0.22109808 0.05270049 0.14891148 0.1756683  0.01824998 0.02635025
 0.01473662 0.05123659 0.0239592  0.01390707 0.10257897 0.03945217
 0.16883676 1.         0.15546645 0.29953885 0.26473857 0.03806147
 0.05797054 0.15216447 0.03952537 0.15390495 0.17777476 0.02513033
 0.01727405 0.2958059  0.05953204 0.04538098 0.02410559 0.21642979
 0.21255864 0.04684488 0.1111184  0.16231419 0.51212189 0.02732618
 0.32179837 0.26252652 0.01217479 0.11316786 0.0556283  0.26086743
 0.03103473 0.018006   0.06831545 0.14687822 0.13526459 0.10821499
 0.41282051 0.00783188 0.44409922 0.03072575 0.01508639 0.02342244
 0.2342244  0.02469116 0.03659756 0.01338651 0.06343578 0.01537098
 0.02810693 0.10910953 0.01583455 0.15977676 0.0375897  0.0389724
 0.17391982 0.075147   0.0150782  0.02691961 0.01920152 0.01375249
 0.01467962 0.0239836  0.01871355 0.09662576 0.15276642 0.02947324
 0.01489121 0.04396587 0.05130978 0.11594108 0.01463083 0.06640418
 0.18249985 0.43288417 0.20772777 0.09661757 0.13858277 0.0270578
 0.01528158 0.07729405 0.03396254 0.10048071 0.05150497 0.0585561
 0.07831878 0.01700567 0.02927805 0.06441171 0.08275929 0.03035158
 0.12687155 0.063086   0.01376888 0.01646071 0.04994347 0.01920972
 0.01588334 0.01985208 0.41250333 0.11125659 0.02618765 0.01511079
 0.01851017 0.01510259 0.01632251 0.04577135 0.05061043 0.01694867
 0.01662349 0.01539537 0.07222739 0.01258956 0.0135655  0.01620052
 0.01256516 0.07690368 0.02753757 0.0270496  0.09856124 0.00975935
 0.01921772 0.02052723]
NAN  Age  :  177
Age 0.42 80.0
[0.27117366 0.4722292  0.32143755 0.43453129 0.         0.67328474
 0.01985423 0.33400352 0.17064589 0.04498618 0.72354863 0.24604172
 0.48479517 0.68585072 0.3842674  0.42196532 0.18321186 0.34656949
 0.09525006 0.23347575 0.49736115 0.8240764  0.52249309 0.25860769
 0.22090978 0.03242021 0.08268409 0.61045489 0.35913546 0.81151043
 0.35285248 0.05755215 0.13294798 0.560191   0.2083438  0.39683338
 0.19577783 0.30887158 0.00515205 0.37170143 0.40939935 0.28373963
 0.2963056  0.57275697 0.7361146  0.88690626 0.45966323 0.58532295
 0.17692888 0.88062327 0.40311636 0.14551395 0.10781603 0.45338025
 0.63558683 0.6921337  0.50364413 0.54762503 0.00728826 0.76124654
 0.69841669 0.62302086 0.44709726 0.56647399 0.2523247  0.77381252
 0.50992712 0.6481528  0.78637849 0.29002262 0.00628299 0.53505906
 0.74868057 0.12038201 0.79894446 0.15807992 0.59788892 0.00414677
 0.66071877 0.71098266 1.         0.87434029 0.30258859 0.07011812
 0.00314149 0.37798442 0.4282483  0.92460417]
Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'], dtype='object')
NEW COLUMNS
SibSp 0.0 8.0
[0.    0.125 0.25  0.375 0.5   0.625 1.   ]
Parch 0.0 9.0
[0.         0.11111111 0.33333333 0.22222222 0.44444444 0.66666667
 0.55555556 1.        ]
NAN  Fare  :  1
Fare 0.0 512.3292
[0.01528158 0.01366309 0.01890874 0.01690807 0.0239836  0.018006
 0.01489121 0.05660423 0.01411046 0.04713766 0.01541158 0.05074862
 0.1605739  0.11940565 0.0541074  0.02410559 0.01410226 0.01546857
 0.11594108 0.00618899 0.06184168 0.11980422 0.51212189 0.02830212
 0.12097534 0.05953204 0.04231498 0.06148391 0.04015973 0.04577135
 0.11272049 0.01571255 0.01854277 0.11027246 0.02618765 0.05182215
 0.01532218 0.02537431 0.10257897 0.05797054 0.01512699 0.14891148
 0.03103473 0.1171122  0.02934305 0.04489301 0.51334181 0.03040857
 0.05684821 0.01493181 0.03142511 0.02635025 0.0150782  0.04098927
 0.01537917 0.08275929 0.05570149 0.41282051 0.05016306 0.02975782
 0.43288417 0.02090121 0.02821272 0.02713099 0.01517579 0.10149724
 0.01521639 0.15390495 0.01533038 0.10821499 0.01662349 0.04396587
 0.01526518 0.01700567 0.02936745 0.01518399 0.06183368 0.01421605
 0.01256516 0.03259623 0.14686202 0.03074195 0.01415106 0.04538098
 0.0556283  0.04970769 0.0915427  0.2958059  0.03513366 0.10122886
 0.16231419 0.         0.02378022 0.06126432 0.01473662 0.02688701
 0.0150944  0.04298994 0.09856124 0.06709553 0.01749363 0.07612293
 0.07173122 0.1036443  0.48312843 0.03122992 0.13575256 0.06343578
 0.26252652 0.02049464 0.01583455 0.03025399 0.02810693 0.44409922
 0.05024445 0.01376068 0.14346245 0.08295448 0.32179837 0.0270496
 0.05357063 0.02947324 0.12687155 0.01267896 0.13913574 0.14687822
 0.20772777 0.0585561  0.01539537 0.05416439 0.26697522 0.01820119
 0.03396254 0.02486194 0.03945217 0.07729405 0.0135655  0.15977676
 0.08115719 0.08881009 0.01824998 0.18249985 0.02753757 0.01478542
 0.26473857 0.28598956 0.41250333 0.1545881  0.03072575 0.01479361
 1.         0.12366717 0.10048071 0.03035158 0.07222739 0.02822072
 0.07746484 0.02244651 0.0975935  0.02513033 0.04113566 0.07690368
 0.03952537 0.09193308 0.0270578  0.01507    0.1756683  0.21255864
 0.0436405 ]
NAN  Age  :  86
Age 0.17 76.0
[0.4527232  0.61756561 0.8153765  0.35381775 0.28788079 0.18238164
 0.39337993 0.34063036 0.23513121 0.27469339 0.         0.60437821
 0.30106818 0.82856389 0.31425557 0.45931689 0.59119082 0.72306475
 0.11644468 0.630753   0.65712779 0.29447448 0.53844125 0.43294211
 0.24172491 0.32744296 0.51206646 0.78900171 0.47250429 0.261506
 0.36700514 0.12963207 0.22194382 0.41975471 0.16919425 0.40656732
 0.38019254 0.37359884 0.42634841 0.0768825  0.88131346 0.64394039
 0.02413293 1.         0.56481604 0.20875643 0.01094554 0.15600686
 0.55162864 0.69668996 0.34722405 0.52525386 0.80218911 0.79559541
 0.09006989 0.19556904 0.70987736 0.84175129 0.48569168 0.4461295
 0.14941316 0.10325729 0.00210998 0.49887907 0.74943954 0.53184755
 0.00989054 0.24831861 0.47909798 0.00764869 0.00870368 0.76262693
 0.77581432 0.18897534 0.57800343 0.06369511 0.67031518 0.03732032
 0.50547277]

In [4]:
print_data(train)

y                             2 int64
[0 1]
Age                          88 float64
SibSp                         7 float64
[0.125 0.    0.375 0.5   0.25  0.625 1.   ]
Parch                         7 float64
[0.         0.16666667 0.33333333 0.83333333 0.5        0.66666667
 1.        ]
Fare                        248 float64
Age_grup_0                    2 float64
[0. 1.]
Age_grup_1                    2 float64
[0. 1.]
Age_grup_2                    2 float64
[1. 0.]
Age_grup_3                    2 float64
[0. 1.]
Age_grup_4                    2 float64
[0. 1.]
Age_grup_5                    2 float64
[0. 1.]
Age_grup_6                    2 float64
[0. 1.]
Age_grup_7                    2 float64
[0. 1.]
Age_grup_8                    2 float64
[0. 1.]
Age_grup_9                    1 float64
[0.]
Age_grup_10                   1 float64
[0.]
Age_grup_11                   1 float64
[0.]
Pclass_3                      2 float64
[1. 0.]
Pclass_1                      2 float64
[0. 1.]
Pclass_2                      2 float64
[0. 1.]
Sex_male                      2 float64
[1. 0.]
Sex_female                    2 float64
[0. 1.]
Embarked_S                    2 float64
[1. 0.]
Embarked_C                    2 float64
[0. 1.]
Embarked_Q                    2 float64
[0. 1.]

In [5]:
float#MODEL
def train_model (df):
    X = (df.loc[:, df.columns != 'y']).to_numpy()
    y = df['y'].to_numpy()

    clf = LogisticRegression(C=0.5, solver='sag', max_iter=10000)
    clf.fit(X, y)

    y_pred = clf.predict(X)

    y_pred_proba_train = clf.predict_proba(X)
    
    print('accuracy: {}'.format(accuracy_score(y, y_pred)))
    return clf
          
          
def get_ans (clf, df):
    X = (df.loc[:, df.columns != 'y']).to_numpy()
    y_pred = clf.predict(X)
    return y_pred


print(test.columns)
print(train.columns)
clf = train_model(train)
y_pred = get_ans (clf, test)
pass_id = test_id.to_numpy()
result = pd.DataFrame({'PassengerId': pass_id, 'Survived': y_pred})

result.to_csv('titanic.csv', index=False)

Index(['Age', 'SibSp', 'Parch', 'Fare', 'Age_grup_0', 'Age_grup_1',
       'Age_grup_2', 'Age_grup_3', 'Age_grup_4', 'Age_grup_5', 'Age_grup_6',
       'Age_grup_7', 'Age_grup_8', 'Age_grup_9', 'Age_grup_10', 'Age_grup_11',
       'Pclass_3', 'Pclass_2', 'Pclass_1', 'Sex_male', 'Sex_female',
       'Embarked_Q', 'Embarked_S', 'Embarked_C'],
      dtype='object')
Index(['y', 'Age', 'SibSp', 'Parch', 'Fare', 'Age_grup_0', 'Age_grup_1',
       'Age_grup_2', 'Age_grup_3', 'Age_grup_4', 'Age_grup_5', 'Age_grup_6',
       'Age_grup_7', 'Age_grup_8', 'Age_grup_9', 'Age_grup_10', 'Age_grup_11',
       'Pclass_3', 'Pclass_1', 'Pclass_2', 'Sex_male', 'Sex_female',
       'Embarked_S', 'Embarked_C', 'Embarked_Q'],
      dtype='object')
accuracy: 0.8080808080808081